
user-dirs.dirs
user-dirs.locale
gnome-initial-setup-done
./
../
Code/
dconf/
enchant/
eog/
evolution/
folders.txt
gedit/
gnome-games/
gnome-initial-setup-done/
gnome-session/
goa-1.0/
google-chrome/
gtk-3.0/
htop/
ibus/
libreoffice/
matplotlib/
Mendeley Ltd./
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
pgadmin/
pgadmin4/
pulse/
StarUML/
update-notifier/
user-dirs.dirs/
user-dirs.locale/
zsh/./
zsh/../
zsh/plugins/
zsh/.zcompdump
nvim/.git/
nvim/.github/
nvim/.gitignore
nvim/LICENSE
nvim/plugin/
nvim/README.md
tabby/
